# Dependencies
node_modules/

# Environment
server/.env
.env
.env.local
.env.*.local

# Build
client/dist/
dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
*.local
